body{
  font-family: sans-serif;
  background-color: #787373;
}

h1{
    text-align: center;
    font-size: 45px;
}

p{
    text-align: center;
    font-size: 30px;
}

h2{
    color: #614e78;
    text-align: center;
    font-size: 40px;
    background-color: #657d8a;
    border-radius: 15px;
}

h3{
    color: brown;
    font-size: 35px;
}

header{
    background-color: #967572;
    padding: 25px;
}

main{
    text-align: center;
}

ul{
    font-size: 30px;
    margin: 0 150px 0 150px;
}

nav{
    text-align:right;
}

header a{
    font-size: 30px;
    margin: 10px;
    background-color: #556b5f;
    padding: 15px;
    text-decoration: none;
    color: #73aad1;
    border-radius: 18px;
}
